<a href="https://colab.research.google.com/github/ayushiiii28/Meta-Scifor/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Pandas is a Python library used for working with data sets.

#It has functions for analyzing, cleaning, exploring, and manipulating data
#We can import Pandas as:
import pandas as pd
#pd here is a object/instance/alias

In [ ]:
#A Pandas Series is like a column in a table. It is a one-dimensional array holding data of any type.
import pandas as pd
a=[1,2,3,4]
var=pd.Series(a)
print(var)

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
#As we can see our list 'a' has some indexed values starting from '0' called Labels.
print(var[0])

1

In [ ]:
#We can create our own index
import pandas as pd
a=[1,4,5,7]
var= pd.Series(a,index=["x","y","z","a"])
print(var)

x    1
y    4
z    5
a    7
dtype: int64

In [ ]:
#You can also use a key/value object, like a dictionary, when creating a Series
import pandas as pd
dict={"A":[1,2,3],"B":[4,5,6],"c":[7,8,9]}
var=pd.Series(dict)
print(var)

A    [1, 2, 3]
B    [4, 5, 6]
c    [7, 8, 9]
dtype: object

In [ ]:
#Just like series, WWe can create tables in pandas usind DataFrame
#Data sets in Pandas are usually multi-dimensional tables, called DataFrames.
#Series is like a column, a DataFrame is the whole table.
df=pd.DataFrame(dict)
print(df)

   A  B  c
0  1  4  7
1  2  5  8
2  3  6  9

In [ ]:
#To add new column & values
df["d"]="10 11 12".split()
print(df)

   A  B  c   d
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

In [ ]:
#We can also create Null values which here are known as Nan values, standing for 'Not A Number'.
import pandas as pd
import numpy as np
dict={"Name":["Ayushi","Nishu",np.nan],"Roll Number":[1,2,np.nan],"Branch":["Btech","Btech",np.nan]}
df=pd.DataFrame(dict)
print(df)

     Name  Roll Number Branch
0  Ayushi          1.0  Btech
1   Nishu          2.0  Btech
2     NaN          NaN    NaN

In [ ]:
#How to drop Nan value
print(df.dropna(axis=1))

Empty DataFrame
Columns: []
Index: [0, 1, 2]

In [ ]:
print(df)

     Name  Roll Number Branch
0  Ayushi          1.0  Btech
1   Nishu          2.0  Btech
2     NaN          NaN    NaN

In [ ]:
#axi=1, is used for columns, while axis=0 is used for row deletion temporarily
#Filling  Nan values
print(df.fillna(value="New"))
print(df)

     Name Roll Number Branch
0  Ayushi         1.0  Btech
1   Nishu         2.0  Btech
2     New         New    New
     Name  Roll Number Branch
0  Ayushi          1.0  Btech
1   Nishu          2.0  Btech
2     NaN          NaN    NaN

In [ ]:
#we can save it using inplace
import pandas as pd
import numpy as np
dict={'A': [1, 2,np.nan], 'B': [5, np.nan, np.nan], 'C': [1, 2, 3]}
df=pd.DataFrame(dict)
print(df)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [ ]:
df.fillna(value=df['C'].mean(),inplace=True)
print(df)

     A    B  C
0  1.0  5.0  1
1  2.0  2.0  2
2  2.0  2.0  3

In [ ]:
bycomp=df.groupby('A')
print(bycomp.mean())

       B    C
A
1.0  5.0  1.0
2.0  2.0  2.5

In [ ]:
#Concating DataFrame can be done by 3 methods: Concat, Merge,Join
data=pd.DataFrame({'Maths':[75,65,55,50],
                     'English':[66,69,60,75],
                     'AI':[75,75,70,74],
                     'DBMS':[54,70,58,71]},
                    index=['Ayushi','Nishu','Suhani','Janvi'])
print(data)

        Maths  English  AI  DBMS
Ayushi     75       66  75    54
Nishu      65       69  75    70
Suhani     55       60  70    58
Janvi      50       75  74    71

In [ ]:
data2=pd.DataFrame({'Maths':[75,60,55,50],
                     'English':[66,60,60,75],
                     'AI':[75,70,70,74],
                     'DBMS':[54,70,50,71]},
                    index=['Vidhi','Disha','Hitika','Ritika'])
print(data2)

        Maths  English  AI  DBMS
Vidhi      75       66  75    54
Disha      60       60  70    70
Hitika     55       60  70    50
Ritika     50       75  74    71

In [ ]:
#Concating DataFrame
Total=pd.concat([data,data2],axis=0)
print(Total)

        Maths  English  AI  DBMS
Ayushi     75       66  75    54
Nishu      65       69  75    70
Suhani     55       60  70    58
Janvi      50       75  74    71
Vidhi      75       66  75    54
Disha      60       60  70    70
Hitika     55       60  70    50
Ritika     50       75  74    71

In [ ]:
#column wise
df.cat2=pd.concat([data,data2],axis=1)
df.cat2.fillna(value=0,inplace=True)
print(df.cat2)

        Maths  English    AI  DBMS  Maths  English    AI  DBMS
Ayushi   75.0     66.0  75.0  54.0    0.0      0.0   0.0   0.0
Nishu    65.0     69.0  75.0  70.0    0.0      0.0   0.0   0.0
Suhani   55.0     60.0  70.0  58.0    0.0      0.0   0.0   0.0
Janvi    50.0     75.0  74.0  71.0    0.0      0.0   0.0   0.0
Vidhi     0.0      0.0   0.0   0.0   75.0     66.0  75.0  54.0
Disha     0.0      0.0   0.0   0.0   60.0     60.0  70.0  70.0
Hitika    0.0      0.0   0.0   0.0   55.0     60.0  70.0  50.0
Ritika    0.0      0.0   0.0   0.0   50.0     75.0  74.0  71.0

In [ ]:
#Merging
import pandas as pd
df1 = pd.DataFrame( {'ID': [1, 2, 3],'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame( {
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})
merged_df = pd.merge(df1, df2, on='ID')

print(merged_df)

   ID   Name_x   Name_y
0   1    Alice    Alice
1   2      Bob      Bob
2   3  Charlie  Charlie

In [ ]:
#Join
import pandas as pd
dict1 = {
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
}

dict2 = {
    'ID': [1, 2, 3],
    'Age': [24, 27, 22]
}
df1 = pd.DataFrame(dict1)
df2 = pd.DataFrame(dict2)
df1.set_index('ID', inplace=True)
df2.set_index('ID', inplace=True)
merged_df = df1.join(df2, how='inner')

print(merged_df)

       Name  Age
ID
1     Alice   24
2       Bob   27
3   Charlie   22

In [ ]:
#We can also apply functions
import pandas as pd
import numpy as np
def salary_hike(salary):
  if salary>5000:
    return np.ceil(salary%(salary*3))
  else:
    return np.ceil(salary*5)
df=pd.DataFrame({'Dept':['hr','it','design','management'],'emp_name':['a','b','c','d'],'salary':[6000,7000,3000,6000]})
print(df)

         Dept emp_name  salary
0          hr        a    6000
1          it        b    7000
2      design        c    3000
3  management        d    6000

In [ ]:
df['New salary']=df['salary'].apply(salary_hike)
df['Name length']=df['emp_name'].apply(len)
print(df)

         Dept emp_name  salary  New salary  Name length
0          hr        a    6000      6000.0            1
1          it        b    7000      7000.0            1
2      design        c    3000     15000.0            1
3  management        d    6000      6000.0            1

In [ ]:
df['New salary'].apply(lambda x:np.sqrt(x))

0     77.459667
1     83.666003
2    122.474487
3     77.459667
Name: New salary, dtype: float64

In [ ]:
#Deletion,sorting,list of column & rows
print(df.columns)

Index(['Dept', 'emp_name', 'salary', 'New salary', 'Name length'], dtype='object')

In [ ]:
l=list(df.columns)
print(l)

['Dept', 'emp_name', 'salary', 'New salary', 'Name length']

In [ ]:
del df['salary']
print(df)

         Dept emp_name  New salary  Name length
0          hr        a      6000.0            1
1          it        b      7000.0            1
2      design        c     15000.0            1
3  management        d      6000.0            1

In [ ]:
import pandas as pd
ipl=pd.read_csv('/matches.csv')
print(ipl)

      id  season       city      date                        team1  \
0      1    2017  Hyderabad  05/04/17          Sunrisers Hyderabad
1      2    2017       Pune  06/04/17               Mumbai Indians
2      3    2017     Rajkot  07/04/17                Gujarat Lions
3      4    2017     Indore  08/04/17       Rising Pune Supergiant
4      5    2017  Bangalore  08/04/17  Royal Challengers Bangalore
..   ...     ...        ...       ...                          ...
631  632    2016     Raipur  22/05/16             Delhi Daredevils
632  633    2016  Bangalore  24/05/16                Gujarat Lions
633  634    2016      Delhi  25/05/16          Sunrisers Hyderabad
634  635    2016      Delhi  27/05/16                Gujarat Lions
635  636    2016  Bangalore  29/05/16          Sunrisers Hyderabad

                           team2                  toss_winner toss_decision  \
0    Royal Challengers Bangalore  Royal Challengers Bangalore         field
1         Rising Pune Supergiant       Rising Pune Supergiant         field
2          Kolkata Knight Riders        Kolkata Knight Riders         field
3                Kings XI Punjab              Kings XI Punjab         field
4               Delhi Daredevils  Royal Challengers Bangalore           bat
..                           ...                          ...           ...
631  Royal Challengers Bangalore  Royal Challengers Bangalore         field
632  Royal Challengers Bangalore  Royal Challengers Bangalore         field
633        Kolkata Knight Riders        Kolkata Knight Riders         field
634          Sunrisers Hyderabad          Sunrisers Hyderabad         field
635  Royal Challengers Bangalore          Sunrisers Hyderabad           bat

     result  dl_applied                       winner  win_by_runs  \
0    normal           0          Sunrisers Hyderabad           35
1    normal           0       Rising Pune Supergiant            0
2    normal           0        Kolkata Knight Riders            0
3    normal           0              Kings XI Punjab            0
4    normal           0  Royal Challengers Bangalore           15
..      ...         ...                          ...          ...
631  normal           0  Royal Challengers Bangalore            0
632  normal           0  Royal Challengers Bangalore            0
633  normal           0          Sunrisers Hyderabad           22
634  normal           0          Sunrisers Hyderabad            0
635  normal           0          Sunrisers Hyderabad            8

     win_by_wickets player_of_match  \
0                 0    Yuvraj Singh
1                 7       SPD Smith
2                10         CA Lynn
3                 6      GJ Maxwell
4                 0       KM Jadhav
..              ...             ...
631               6         V Kohli
632               4  AB de Villiers
633               0    MC Henriques
634               4       DA Warner
635               0     BCJ Cutting

                                                venue          umpire1  \
0           Rajiv Gandhi International Stadium, Uppal      AY Dandekar
1             Maharashtra Cricket Association Stadium   A Nand Kishore
2              Saurashtra Cricket Association Stadium      Nitin Menon
3                              Holkar Cricket Stadium     AK Chaudhary
4                               M Chinnaswamy Stadium              NaN
..                                                ...              ...
631  Shaheed Veer Narayan Singh International Stadium   A Nand Kishore
632                             M Chinnaswamy Stadium     AK Chaudhary
633                                  Feroz Shah Kotla        M Erasmus
634                                  Feroz Shah Kotla        M Erasmus
635                             M Chinnaswamy Stadium  HDPK Dharmasena

             umpire2  umpire3
0           NJ Llong      NaN
1             S Ravi      NaN
2          CK Nandan      NaN
3      C Shamshuddin      NaN
4                NaN      NaN
..               ...      ...
631     BNJ Oxenford      NaN
632  HDPK Dharmasena      NaN
633    C Shamshuddin      NaN
634        CK Nandan      NaN
635     BNJ Oxenford      NaN

[636 rows x 18 columns]

In [ ]:
ipl.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,05/04/17,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,06/04/17,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,07/04/17,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,08/04/17,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,08/04/17,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [ ]:
ipl.tail()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
631,632,2016,Raipur,22/05/16,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
632,633,2016,Bangalore,24/05/16,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN
633,634,2016,Delhi,25/05/16,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN
634,635,2016,Delhi,27/05/16,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN
635,636,2016,Bangalore,29/05/16,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [ ]:
ipl.sample(n=4)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
152,153,2009,Port Elizabeth,10/05/09,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Mumbai Indians,16,0,JP Duminy,St George's Park,BR Doctrove,BG Jerling,NaN
366,367,2012,Bangalore,14/05/12,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,5,AT Rayudu,M Chinnaswamy Stadium,S Das,BR Doctrove,NaN
63,64,2008,Kolkata,20/04/08,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN
305,306,2011,Chennai,27/05/11,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Royal Challengers Bangalore,43,0,CH Gayle,"MA Chidambaram Stadium, Chepauk",Asad Rauf,SJA Taufel,NaN