<a href="https://colab.research.google.com/github/ayushiiii28/Meta-Scifor/blob/main/Python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Python
#Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.
#It is used for:
#web development (server-side),
#software development,
#mathematics,
#system scripting.

In [1]:
#Python has a set of keywords that are reserved words that cannot be used as variable names, function names, or any other identifiers
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#Boolean Values
##In programming you often need to know if an expression is True or False.
#You can evaluate any expression in Python, and get one of two answers, True or False.
print(10 > 9)
print(10 == 9)
print(10 < 9)

In [2]:
#True=1
#False=0
True + False

1

In [3]:
True + True

2

In [6]:
#Concept of 'AND' & 'OR'
is_male = True
if is_male:
  print("You are a male")
else:
  print("You are not a male")

You are a male

In [7]:
#OR
is_male = True
is_tall = False
if is_male or is_tall:
  print("You are a male or tall or both")
else:
  print("You are neither a male nor tall")

You are a male or tall or both

In [8]:
#AND
is_male = True
is_tall = False
if is_male and is_tall:
  print("You are a male or tall or both")
else:
  print("You are neither a male nor tall")

You are neither a male nor tall

In [ ]:
#In programming, data type is an important concept.

#Variables can store data of different types, and different types can do different things.
# 1- Numbers/Integer
# 2-String
# 3-List
# 4-Tuple
# 5-Set
# 6-Dictionary

In [ ]:
#Numbers
#There are three numeric types in Python:

int
float
complex

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # comple

In [13]:
#To verify the type of any object in Python, use the type() function:
x=10
y = 3+5j
z=2.152
type(x)
type(y)
type(z)

float

In [ ]:
#Strings
#Strings in python are surrounded by either single quotation marks, or double quotation marks.

#'hello' is the same as "hello".

#You can display a string literal with the print() function

In [16]:
a="Hello"
print(a)
type(a)

Hello

str

In [17]:
print("Hello Ayushi!")

Hello Ayushi!

In [19]:
str1='Good'
str2=' Morning'
str3=' Everyone'
print(str1+str2+str3)

Good Morning Everyone

In [20]:
print('  a' *  5)  #(* use for multiplication)

  a  a  a  a  a

In [21]:
print(' *' * 100)

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [ ]:
print('Day' + str(5))
#We can only add str+str not str+int, otherwise it will show type error