<a href="https://colab.research.google.com/github/ayushiiii28/Meta-Scifor/blob/Python/Python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#what is data structure ? Data structure which can hold,store and save out data
#there are different different typre data structure
#1- List
#2- Tuple
#3- Set
#4- Dictionary

In [1]:
#Lists are used to store multiple items in a single variable.

#Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

#Lists are created using square brackets
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [5]:
a=[]
type(a)

list

In [6]:
#Copy Method
marks=[1,2,3,4]
new=marks.copy()
print(new)

[1, 2, 3, 4]

In [7]:
#Another way to make a list
list('Ayushi')

['A', 'y', 'u', 's', 'h', 'i']

In [8]:
l1 = ["apple", "banana", "cherry"]
l1.append("Orange")
print(l1)

['apple', 'banana', 'cherry', 'Orange']

In [13]:
l1.insert(2,"Melon")
print(l1)

['apple', 'banana', 'Melon', 'Melon', 'Melon', 'Melon', 'cherry', 'Orange', 'Melon']

In [14]:
l1[2]='Watermelon' #Replacing
print(l1)

['apple', 'banana', 'Watermelon', 'Melon', 'Melon', 'Melon', 'cherry', 'Orange', 'Melon']

In [18]:
del l1[3] #deleting
print(l1)

['apple', 'banana', 'Watermelon', 'Melon', 'Melon', 'cherry', 'Orange', 'Melon']

In [22]:
l1[1:7] #slicing

['banana', 'Watermelon', 'Melon', 'Melon', 'cherry', 'Orange']

In [23]:
#"+" sign to concatinate list
print(l1+l1)

['apple', 'banana', 'Watermelon', 'Melon', 'Melon', 'cherry', 'Orange', 'Melon', 'apple', 'banana', 'Watermelon', 'Melon', 'Melon', 'cherry', 'Orange', 'Melon']

In [24]:
l1 * 2

['apple',
 'banana',
 'Watermelon',
 'Melon',
 'Melon',
 'cherry',
 'Orange',
 'Melon',
 'apple',
 'banana',
 'Watermelon',
 'Melon',
 'Melon',
 'cherry',
 'Orange',
 'Melon']

In [25]:
#count method ? count method is which method the csn show how many time availability of duplicate things
marks=[51,56,89,78,56,23,12,4,5,23,23,56,]
marks.count(56)

3

In [26]:
l2=[1,2,3,4,5]
l2.extend([6,7])
print(l2)

[1, 2, 3, 4, 5, 6, 7]

In [29]:
#Pop mehod help for delete last index elemnt from any list.
lst1=[1,2,3,4,5]
lst1.pop()
print(lst1)

[1, 2, 3, 4]

In [32]:
#remove method helps for delete element from our list.
lst1.remove(4)
print(lst1)

[1, 2, 3]

In [34]:
#reverse method helps in to reverse show the all element in list.
lst1.reverse()
print(lst1)

[1, 2, 3]

In [35]:
#sort method helps in  to arrange the elements by ascending and descending order.
lst1.sort()
print(lst1)

[1, 2, 3]

In [37]:
lst1.sort(reverse=True)
print(lst1)

[3, 2, 1]