<a href="https://colab.research.google.com/github/ayushiiii28/Meta-Scifor/blob/main/Python3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#what is tuples ? Tuple is a data structure of python. tuple are always in () round brackets
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [2]:
type(thistuple)

tuple

In [3]:
#We have to convert tuple to list to append
thistuple = list(thistuple)
thistuple.append("orange")
thistuple = tuple(thistuple)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [4]:
#back in tuple
thistuple = tuple(thistuple)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [5]:
len(thistuple)#Length of tuple

4

In [6]:
thistuple[1]#indexing

'banana'

In [8]:
#set is a data structure in pyhton. sets are an unordered collection of unique element-
#Sets are used to store multiple items in a single variable.
a=set()
type(a)

set

In [11]:
a.add(1)
print(a)

{1}

In [13]:
a = set(thistuple)
print(a)

{'banana', 'cherry', 'orange', 'apple'}

In [15]:
# dictionary is also a data staructure,dictionary contain keys:value in curly {} brackets.
b = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(b)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [19]:
#we can add multiple values
b = {
  "brand": ["Ford,Tesla,Nixon"],
  "model": ["Mustang,Swift,Scorpio"],
  "year": [1964,1968,1970]
}
print(b)

{'brand': ['Ford,Tesla,Nixon'], 'model': ['Mustang,Swift,Scorpio'], 'year': [1964, 1968, 1970]}

In [20]:
b['model'][0]

'Mustang,Swift,Scorpio'

In [21]:
#Capitalising
b['model'][0].upper()

'MUSTANG,SWIFT,SCORPIO'

In [22]:
#we can multiple, addition , substraction and divide in dictionary
b['year'][0]=+4
print(b)

{'brand': ['Ford,Tesla,Nixon'], 'model': ['Mustang,Swift,Scorpio'], 'year': [4, 1968, 1970]}

In [23]:
#Update values()
b.update({'model':100})
print(b)

{'brand': ['Ford,Tesla,Nixon'], 'model': 100, 'year': [4, 1968, 1970]}

In [24]:
#Branching (if,elif,else)
a = 33
b = 33
if b > a:
  print("b is greater than a")
else:
  print("a is greater than b")

a is greater than b

In [25]:
#elif
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [26]:
#range function ? we can genrate a sequence of numbers  using range() function , range(10) will generate number
#(starting number, stop number,step size)
print(range(11))

range(0, 11)

In [27]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
#we store range fuction in variable
roll_num=list(range(10,50,1))
print(roll_num)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [36]:
# Reverse function with range fucntion.
reverse=list(range(100,9,-10))
print(reverse)

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [ ]:
#Python has two primitive loop commands:

#while loops
#for loops

In [37]:
#while loops
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [38]:
#for loops
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [39]:
#loop with range
for x in range(6):
  print(x)

0
1
2
3
4
5

In [40]:
for num in range(2,5):
    print("Multiplication table for",num)
    for i in range(1,11):
        print(num*i)
        if i ==10:
            print( "\n" )
else:
    print("*" * 30)
    print("Thats all")
    print("*" * 30)

Multiplication table for 2
2
4
6
8
10
12
14
16
18
20


Multiplication table for 3
3
6
9
12
15
18
21
24
27
30


Multiplication table for 4
4
8
12
16
20
24
28
32
36
40


******************************
Thats all
******************************

In [41]:
num=int(input("Enter Number which one you want a table"))

for i in range(1,11):
    print(f"{num}X{i}={num*i}")

Enter Number which one you want a table5
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

In [42]:
import time
result =time.localtime()
print(result)

time.struct_time(tm_year=2024, tm_mon=7, tm_mday=23, tm_hour=15, tm_min=21, tm_sec=34, tm_wday=1, tm_yday=205, tm_isdst=0)

In [44]:
#Enumerate() allows us to iterate through a sequence but it keeps track of both the index and the element.
student=[1,2,3,4,5]
for index,value in enumerate(student):
    print(index,value)

0 1
1 2
2 3
3 4
4 5

In [45]:
#zip method use when we join a two list.
student_name=["a","b","c","d"]
student_marks=[54,98,99,100,34]
for name,marks in zip(student_name,student_marks):
    print(name,marks)

a 54
b 98
c 99
d 100

In [54]:
# use * for unziping
student_details=list(zip(student_name,student_marks))
name,marks=list(zip(*student_details))
print(name)
print(marks)

('a', 'b', 'c', 'd')
(54, 98, 99, 100)

In [55]:
#The Break Statement used to terminate the loop, it is used in loop and swith case.
for x in range(6):
  if x == 3:
    break
  else:
    print(x)

0
1
2

In [56]:
#Continue statement is used to continue the next interation in the loop, its only used in loop, keyword
for x in range(6):
  if x == 3:
    continue
  else:
    print(x)

0
1
2
4
5